fastapi
uvicorn
python-dotenv
weaviate-client
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-classic
langchain-groq
sentence-transformers
pydantic
httpx
validators
authlib
grptio
protobuf
deprecation
cryptography
packaging
